<div class="container">
  <div class="main">
    <h2>l'm looking for..</h2> 

    <input class="job" type="text" placeholder="Enter a Job Description">
    <button class="btn">Search</button>

    <form>
      <input type="checkbox" name="vehicle1" value="Bike">
      <label for="vehicle1"> Full Time</label>
      <input type="checkbox" name="vehicle2" value="Car">
      <label for="vehicle2"> Part Time/Casual/Freelance</label>

      <select name="location" placeholder="select your location">
        <option value="">Select your option</option>
        <option value="mumbai">Mumbai</option>
        <option value="pune">Pune</option>
      </select>
  
  </form>
    <button class="btn2" (click)="onCreate()">Register</button>
  </div>
  
</div>

<div class="wrapper">
  <div class="text">
    <h3>We're leaders in</h3>
    <h1>Creative Digital Recruitment</h1>
    <hr>
    <p>Based in Surry Hills, the creative hub of Sydney we are surronded by creativity</p>
    <p>and that reflects on the type of jibs we recruit for</p>
    <button>FIND OUT MORE ABOUT US!</button>
  </div>
</div>